In [1]:
import pandas as pd

In [54]:
# Alternative für Deutschland Europwahl 2019
euro2019 = pd.read_csv('Tables/ew2019.csv', sep=';', usecols=['Nr', 'Name', 'Wahlb. insges.', 'Alternative für Deutschland'])

# Filter Briefwahlbezirk
filter = euro2019['Name'].str.contains('Briefwahlbezirk')
euro2019 = euro2019[~filter]

# add Wahlbeteiligung für Afd
euro2019['euro2019_afd'] = euro2019[['Alternative für Deutschland']].div(euro2019['Wahlb. insges.'], axis=0) * 100
euro2019['euro2019_afd'] = euro2019['euro2019_afd'].astype(float).round(2)

# drop unnecessary columns
euro2019 = euro2019.drop(columns=["Wahlb. insges.", "Alternative für Deutschland", "Name"])

In [25]:
# Landtagswahl 2019
lw2019 = pd.read_csv("Tables/lwerst2019.csv", sep=';', usecols=["Name", "Wahlb. insges.", "Alternative für Deutschland", "Nr"])

# Filter Briefwahlbezirk
filter = lw2019['Name'].str.contains('Briefwahlbezirk')
lw2019 = lw2019[~filter]

# add Wahlbeteiligung für Afd
lw2019['lw2019_afd'] = lw2019[['Alternative für Deutschland']].div(lw2019['Wahlb. insges.'], axis=0) * 100
lw2019['lw2019_afd'] = lw2019['lw2019_afd'].astype(float).round(2)

# drop unnecessary columns
lw2019 = lw2019.drop(columns=["Wahlb. insges.", "Alternative für Deutschland"])

       Nr                                      Name  lw2019_afd
0    1306     Bornstedt - Hermann-Mattern-Promenade        4.67
1    1601                                     Grube       10.43
2    8401  Fahrland - V.-Stechow-Str./Rotkehlchenwe       10.14
3    8501                              Neu Fahrland        9.68
4    8601      Groß Glienicke - Glienicker Dorfstr.        7.46
..    ...                                       ...         ...
211  7104              Stern - In der Aue/Gluckstr.        8.25
212  7111            Stern - Jagdhausstr./Eulenkamp        8.79
213  7203   Drewitz - Paul-Wegener-Str./Priesterweg        9.30
214  7206  Drewitz - Gerlachstr/E-v-Winterstein-Str       11.11
215  7304   Kirchsteigfeld - Pierre-de-Gayette-Str.        7.87

[166 rows x 3 columns]

In [34]:
# Kommunalwahl 2019
kw2019 = pd.read_csv("Tables/kw2019.csv", sep=';', usecols=["Name", "Wahlb. insges.", "Alternative für Deutschland", "Nr"])

# Filter Briefwahlbezirk
filter = kw2019['Name'].str.contains('Briefwahlbezirk')
kw2019 = kw2019[~filter]

# add Wahlbeteiligung für Afd
kw2019['kw2019_afd'] = kw2019[['Alternative für Deutschland']].div(kw2019['Wahlb. insges.'], axis=0) * 100
kw2019['kw2019_afd'] = kw2019['kw2019_afd'].astype(float).round(2)

# drop unnecessary columns
kw2019 = kw2019.drop(columns=["Wahlb. insges.", "Alternative für Deutschland", "Name"])

       Nr  kw2019_afd
0    2102        9.43
1    2103        5.98
2    2104        9.29
3    4103        3.71
4    4105       11.23
..    ...         ...
171  7204       22.09
172  7205       18.73
173  7206       18.92
174  7301       15.40
175  7303       17.66

[132 rows x 2 columns]

In [39]:
# f2 ist AFD bei Bundestagswahl 2021
bw2021 = pd.read_csv('Tables/bw2021.csv', sep=';', usecols=['Gebietsnummer', 'Wahlberechtigte gesamt (A)', 'Gebietsart', 'F2'])

# Filter Briefwahlbezirk
filter = bw2021['Gebietsart'].str.contains('BRIEFWAHLBEZIRK')
bw2021 = bw2021[~filter]

# add Wahlbeteiligung für Afd
bw2021['bw2021_afd'] = bw2021[['F2']].div(bw2021['Wahlberechtigte gesamt (A)'], axis=0) * 100
bw2021['bw2021_afd'] = bw2021['bw2021_afd'].astype(float).round(2)

# drop unnecessary columns
bw2021 = bw2021.drop(columns=["Wahlberechtigte gesamt (A)", "Gebietsart", "F2"])

bw2021

        Gebietsnummer  bw2021_afd
0    1205400000001101        8.00
1    1205400000001102        5.91
2    1205400000001301        3.42
3    1205400000001302        5.28
4    1205400000001303        4.43
..                ...         ...
324  1207202402400015        9.84
325  1207202402400019        5.96
326  1207202402400022        6.26
327  1207202402400025        7.77
328  1207202402400026        9.29

[220 rows x 2 columns]

In [45]:
# D6 ist AFD bei Kommunalwahl 2024 (3 Stimmen koennen abgegeben werden)

kw2024 = pd.read_csv('Tables/kw2024.csv', sep=';', usecols=['Gebietsname', 'Gebietsnummer', 'Bezirksnummer', 'Wahlberechtigte gesamt (A)', 'D6'])

# Filter Briefwahl
filter = kw2024['Gebietsname'].str.contains('Briefwahlbezirk')
kw2024 = kw2024[~filter]

# add Wahlbeteiligung für Afd
kw2024['afd_durch3'] = kw2024[['D6']].div(3)
kw2024['kw2024_afd'] = kw2024[['afd_durch3']].div(kw2024['Wahlberechtigte gesamt (A)'], axis=0) * 100
kw2024['kw2024_afd'] = kw2024['kw2024_afd'].astype(float).round(2)

# drop unnecessary columns
kw2024 = kw2024.drop(columns=["Wahlberechtigte gesamt (A)", "Gebietsname", "D6", "afd_durch3"])

kw2024

        Gebietsnummer  Bezirksnummer  kw2024_afd
0    1205400000002102         2102.0        3.87
1    1205400000004101         4101.0        3.63
2    1205400000004104         4104.0        6.07
3    1205400000004106         4106.0        6.00
4    1205400000004109         4109.0        5.32
..                ...            ...         ...
194  1205400000007108         7108.0       11.22
195  1205400000007110         7110.0        8.97
196  1205400000007112         7112.0        9.26
197  1205400000007202         7202.0        8.03
198  1205400000007301         7301.0        9.63

[140 rows x 3 columns]

In [57]:
# Europawahl 2024, D1 = Afd

euro2024 = pd.read_csv('Tables/euro2024.csv', sep=';', usecols=['Gebietsart', 'Gebietsname', 'Bezirksnummer', 'Wahlberechtigte gesamt (A)', 'D1'])

# Filter Briefwahl
filter = euro2024['Gebietsart'].str.contains("BRIEFWAHLBEZIRK")
euro2024 = euro2024[~filter]

# add Wahlbeteiligung für Afd
euro2024['euro2024_afd'] = euro2024[['D1']].div(euro2024['Wahlberechtigte gesamt (A)'], axis=0) * 100
euro2024['euro2024_afd'] = euro2024['euro2024_afd'].astype(float).round(2)

# drop unnecessary columns
euro2024 = euro2024.drop(columns=["Wahlberechtigte gesamt (A)", "Gebietsname", "D1", "Gebietsart", "Gebietsname"])

euro2024

     Bezirksnummer  euro2024_afd
0           1101.0         12.30
1           1303.0          6.52
2           1304.0          8.96
3           1307.0          4.82
4           1102.0          8.19
..             ...           ...
169         7203.0         12.13
170         7204.0         15.13
171         8201.0         14.24
172         8401.0         11.58
173         8402.0         12.57

[134 rows x 2 columns]

In [64]:
# Merge

combined = pd.merge(bw2021, kw2024, on="Gebietsnummer")
combined = combined.drop(columns=["Gebietsnummer"])

euro2019 = euro2019.rename(columns={"Nr" : "Bezirksnummer"})
combined = pd.merge(combined, euro2019, on="Bezirksnummer")

combined = pd.merge(combined, euro2024, on="Bezirksnummer")

lw2019 = lw2019.rename(columns={"Nr" : "Bezirksnummer"})
combined = pd.merge(combined, lw2019, on="Bezirksnummer")

kw2019 = kw2019.rename(columns={"Nr" : "Bezirksnummer"})
combined = pd.merge(combined, kw2019, on="Bezirksnummer")

combined = combined.loc[:,['Bezirksnummer','Name','kw2019_afd', 'kw2019_afd', 'lw2019_afd', 'bw2021_afd', 'kw2024_afd', 'euro2024_afd']]

combined

,Bezirksnummer,Name,kw2019_afd,kw2019_afd,lw2019_afd,bw2021_afd,kw2024_afd,euro2024_afd
0,1101.0,Bornim - Max-Eyth-Allee/Lerchensteig,16.93,16.93,9.46,8.00,11.11,12.30
1,1102.0,Bornim - Ortslage/Hügelweg,13.18,13.18,7.86,5.91,7.67,8.19
2,1301.0,"Nedlitz, Bornstedt - Viereckremise",13.41,13.41,6.85,3.42,5.27,5.87
3,1302.0,Bornstedt - Fliederweg,15.82,15.82,7.95,5.28,7.73,8.31
4,1303.0,Bornstedt - Am Krongut/Katharinenholzstr,10.48,10.48,6.00,4.43,5.94,6.52
...,...,...,...,...,...,...,...,...
107,7205.0,Drewitz - Willy-A.-Kleinau-Weg,18.73,18.73,9.02,10.32,11.48,12.25
108,7303.0,Kirchsteigfeld - Zum Teich/Schinkelstr.,17.66,17.66,8.96,8.61,9.92,10.61
109,7304.0,Kirchsteigfeld - Pierre-de-Gayette-Str.,17.53,17.53,7.87,6.68,11.09,10.93
110,8101.0,Uetz-Paaren,31.12,31.12,11.73,12.54,19.50,22.13
111,8401.0,Fahrland - V.-Stechow-Str./Rotkehlchenwe,19.89,19.89,10.14,7.39,11.56,11.58